.container-boxes {
  display: flex;
  padding: 30px;
  background-color: rgb(210, 203, 132);
}

a {
  color: black;
}

.box {
  flex-direction: row;
  background-color: whitesmoke;
  height: 300px;
  width: 305px;
  margin: auto;
}

.box > img {
  height: 205px;
  width: 250px;
  margin-left: 14px;
}

.box > h4 {
  color: black;
  font-weight: bold;
  text-align: center;
}

.boxes {
  display: flex;
  /* margin-left: 14px; */
}

.items > a {
  margin-left: 14px;
  text-decoration: none;
  color: rgb(13, 13, 203);
  /* font-size: 12px; */
}

.a {
  margin-left: 13px;
}

.a5 {
  margin-left: 14px;
  color: rgb(13, 13, 203);
  text-decoration: none;
}

.a4 {
  margin-left: 16px;
}

.img {
  height: 93px;
  width: 118px;
  margin-left: 10px;
}
